; Enable APCu extension module
extension = apcu.so
apc.enabled=1
;apc.enable_cli=0
;apc.preload_path=
apc.shm_size=64M
;apc.ttl=0
;apc.gc_ttl=3600
;apc.smart=0
;apc.entries_hint=4096
apc.mmap_file_mask=/tmp/apc.XXXXXX
;apc.slam_defense=1
;apc.serializer='default'
;apc.use_request_time=1
;apc.coredump_unmap=0
;apc.rfc1867=0
;apc.rfc1867_prefix =upload_
;apc.rfc1867_name=APC_UPLOAD_PROGRESS
;apc.rfc1867_freq=0
;apc.rfc1867_ttl=3600
